#circle {
    display: none;
    background: red;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 40%;
    animation: animation 5s infinite;
  }

  @keyframes animation {
      0% {background-color: red; left: 30%; top: 30%;}
      33% {background-color: green; left: 40%; top: 15%;}
      66% {background-color: blue; left: 50%; top: 30%;}
      100% {background-color: red; left: 30%; top: 30%;}
    }

#hide {
    display: block;
    position: absolute;
    right: 20%;
    top: 45%;
}

#show {
  display: block;
  position: absolute;
  left: 20%;
  top: 45%;
}